<div uib-alert ng-repeat="alert in kc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="kc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Add / Edit modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-if="kc.kategorija.id != null"><i class="fas fa-clipboard-list"></i>Izmena dela firme</h4>
          <h4 class="modal-title" ng-if="kc.kategorija.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje dela firme</h4> 
        </div>
        <div class="modal-body">
         


         <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Kategorija</label>
            <input type="text" class="form-control" ng-model="kc.kategorija.naziv" placeholder="Naziv kategorije">
            <small id="emailHelp" class="form-text text-muted">Unesite naziv kategorije.</small>
          </div>
        </form>

            
        </div> 
          
  
          
          <div class="modal-footer">
          
          <a class="btn btn-primary text-white" ng-if="kc.kategorije.length > 0 && kc.kategorija.id==null" data-dismiss="modal" ng-click="kc.unesiKategoriju()">Dodaj kategoriju</a> 
          <a class="btn btn-primary text-white" ng-if="kc.kategorije.length > 0 && kc.kategorija.id" data-dismiss="modal" ng-click="kc.izmeniKategoriju(kc.kategorija.id)">Izmeni kategoriju</a> 
          
          <a href="#" data-dismiss="modal" class="btn" ng-click="kc.init()">Zatvori</a>
        </div>

      </div>

        
      </div>
    </div>


  <div class="row">

    <table class="table table-striped mt-20 mb-20 text-center">

      

        <thead>
          <th>ID</th>
          <th>Naziv</th>
          <th>Akcije</th>
          
        </thead>
        <tbody>
        <tr ng-repeat="d in kc.kategorije" data-toggle="tooltip" data-html="true">
          <td>{{d.id}}</td>
          <td>{{d.naziv}}</td>

          <td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="kc.ucitajKategorijuId(d.id)"><i class="fas fa-edit"></i></button>
              <button class="btn btn-danger btn-sm" ng-click="kc.obrisiKategoriju(d.id)"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>


    <div class="row fixed-bottom bg-dark down-navbar p-3">
      <button class="btn yellowst ml-3" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i> Dodaj kategoriju</button>
      
    </div>


  </div>

