<div uib-alert ng-repeat="alert in ipc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="ipc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Search modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ><i class="fas fa-clipboard-list"></i>Pretraga istorije</h4>
        </div>
        <div class="modal-body">
         


         <form>
          <div class="form-row">
            <div class="col">
            <label for="exampleInputEmail1">Datum od</label>
            <input type="date" class="form-control" ng-model="ipc.istorija_query.od" ng-change="ipc.istorija.datum__from=ipc.istorija_query.od.toISOString().substring(0, 10)">
            </div>
            <div class="col">
            <label for="exampleInputEmail1">Datum do</label>
            <input type="date" class="form-control" ng-model="ipc.istorija_query.do" ng-change="ipc.istorija.datum__to=ipc.istorija_query.do.toISOString().substring(0, 10)">
            </div>
          </div>
          <div class="form-group">
            <label for="radnik">Radnik</label>
            <select class="form-control" id="grad" ng-options="radnik.id as radnik.ime + ' ' + radnik.prezime for radnik in ipc.radnici track by radnik.id" ng-model="ipc.istorija.radnik_id">
              <option></option>
            </select>
          </div>
          <div class="form-group">
            <label for="radnik">Stavka</label>
            <select class="form-control" id="grad" ng-options="stavka.id as stavka.naziv + ' ' + stavka.cena for stavka in ipc.stavke track by stavka.id" ng-model="ipc.istorija.stavka_id">
              <option></option>
            </select>
          </div>
          
        </form>

            
        </div> 
          
  
          
          <div class="modal-footer">
          
          <a class="btn btn-primary text-white" data-dismiss="modal" ng-click="ipc.pretrazi()">Pretrazi</a> 
          
          
          <a href="#" data-dismiss="modal" class="btn">Zatvori</a>
        </div>

      </div>

        
      </div>
    </div>

  <div class="row">

    <table class="table table-striped mt-20 mb-20 text-center">

      

        <thead>
          <th>ID</th>
          <th>Porudzbina br.</th>
          <th>Naziv stavke</th>
          <th>Cena</th>
          <th>Datum</th>
          <th>Akcije</th>
          
        </thead>
        <tbody>
        <tr ng-repeat="d in ipc.istorije" data-toggle="tooltip" data-html="true">
          <td>{{d.id}}</td>
          <td>{{d.porudzbina}}</td>
          <td>{{d.stavka.naziv}}</td>
          <td>{{d.cena}}</td>
          <td>{{d.datum}}</td>

          <td>
              <button class="btn btn-danger btn-sm" ng-click="ipc.obrisiIstoriju(d.id)"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>


    <div class="row fixed-bottom bg-dark down-navbar p-3">

      <div class="ml-auto mr-3"> <span class="mr-4 text-white">Suma: {{ipc.suma}} RSD</span><button class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="fas fa-search"></i> Pretraga</button></div>
    </div>


  </div>

