<div uib-alert ng-repeat="alert in dgc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="dgc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Add / Edit modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-if="dgc.deoGrada.id != null"><i class="fas fa-clipboard-list"></i>Izmena deo grada</h4>
          <h4 class="modal-title" ng-if="dgc.deoGrada.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje dela grada</h4> 
        </div>
        <div class="modal-body">
         


         <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Deo grada</label>
            <input type="text" class="form-control" ng-model="dgc.deoGrada.naziv" placeholder="Naziv dela grada">
            <small id="emailHelp" class="form-text text-muted">Unesite naziv dela grada.</small>
          </div>

          <div class="form-group">
            <label for="Grad">Grad</label>
            <select class="form-control" id="deoGrada" ng-options="grad.id as grad.naziv for grad in dgc.gradovi track by grad.id"
            ng-model="dgc.deoGrada.grad" required><option></option></select>
          </div>


        </form>

            
        </div> 
          
  
          
          <div class="modal-footer">
          
          <a class="btn btn-primary text-white" ng-if="dgc.deloviGrada.length > 0 && dgc.deoGrada.id==null" data-dismiss="modal" ng-click="dgc.unesiDeoGrada()">Dodaj deo grada</a> 
          <a class="btn btn-primary text-white" ng-if="dgc.deloviGrada.length > 0 && dgc.deoGrada.id" data-dismiss="modal" ng-click="dgc.izmeniDeoGrada(dgc.deoGrada.id)">Izmeni deo grada</a> 
          
          <a href="#" data-dismiss="modal" class="btn" ng-click="dgc.init()">Zatvori</a>
        </div>

      </div>

        
      </div>
    </div>


  <div class="row">

    <table class="table table-striped mt-20 mb-20 text-center">

      

        <thead>
          <th>ID</th>
          <th>Naziv</th>
          <th>Grad</th>
          <th>Akcije</th>
          
        </thead>
        <tbody>
        <tr ng-repeat="d in dgc.deloviGrada" data-toggle="tooltip" data-html="true">
          <td>{{d.id}}</td>
          <td>{{d.grad.naziv}}</td>
          <td>{{d.naziv}}</td>

          <td>
              <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal" ng-click="dgc.ucitajDeoGradaId(d.id)"><i class="fas fa-edit"></i></button> 
              <button class="btn btn-danger btn-sm" ng-click="dgc.obrisiDeoGrada(d.id)"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>


    <div class="row fixed-bottom bg-dark down-navbar p-3">
      <button class="btn yellowst ml-3" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i> Dodaj deo grada</button>
      
    </div>


  </div>

