<div uib-alert ng-repeat="alert in stvk.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="stvk.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Add / Edit modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-if="stvk.stavka.id != null"><i class="fas fa-clipboard-list"></i>Izmena stavke</h4>
          <h4 class="modal-title" ng-if="stvk.stavka.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje stavke</h4> 
        </div>
        <div class="modal-body">



         <form>

          <div class="form-group">
            <label for="grad">Kategorija stavke</label>
            <select class="form-control" id="kategorija_id" ng-options="kategorija.id as kategorija.naziv for kategorija in stvk.kategorije track by kategorija.id" ng-model="stvk.stavka.kategorija" ng-change="stvk.ucitajPodkategorijeZaIdKat(stvk.stavka.kategorija)" required><option></option></select>
          </div>
          <div class="form-group"  ng-if="stvk.stavka.podkategorija_id || stvk.stavka.podkategorija || stvk.stavka.kategorija">
            <label for="grad">Podkategorija stavke</label>
            <select class="form-control" id="kategorija_id" ng-options="podkategorija.id as podkategorija.naziv for podkategorija in stvk.podkategorije track by podkategorija.id" ng-model="stvk.stavka.podkategorija" ng-change="stvk.ucitajStavkeZaId(stvk.stavka.podkategorija_id)" required><option></option></select>
          </div>

          <div class="form-group">
            <label for="stavka">Naziv stavke</label>
            <input type="text" class="form-control" ng-model="stvk.stavka.naziv" placeholder="Naziv stavke" id="stavka">
            <small id="stavkaOpis" class="form-text text-muted">Unesite naziv stavke.</small>
          </div>

          <div class="form-group">
            <label for="opis">Opis stavke</label>
            <textarea class="form-control" id="opis" rows="3" placeholder="Opis stavke" ng-model="stvk.stavka.opis"></textarea>
          </div>

          <div class="form-group">
            <label for="tezina">Tezina stavke</label>
            <input type="text" class="form-control" ng-model="stvk.stavka.tezina" placeholder="Tezina u gr." id="tezina">
            <small id="stavkaOpis" class="form-text text-muted">Unesite tezinu stavke u gr.</small>
          </div>

          <div class="form-group">
            <label for="cena">Cena stavke</label>
            <input type="text" class="form-control" ng-model="stvk.stavka.cena" placeholder="Cena stavke" id="cena">
            <small id="stavkaOpis" class="form-text text-muted">Unesite cenu stavke.</small>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" ng-model="stvk.stavka.aktivna" id="aktivan">
            <label class="form-check-label" for="aktivan">
              Aktivna
            </label>
          </div>

        </form>


      </div> 



      <div class="modal-footer">

        <a class="btn btn-primary text-white" ng-if="stvk.stavke.length > 0 && stvk.stavka.id==null" data-dismiss="modal" ng-click="stvk.unesiStavku()">Dodaj stavku</a> 
        <a class="btn btn-primary text-white" ng-if="stvk.stavke.length > 0 && stvk.stavka.id" data-dismiss="modal" ng-click="stvk.izmeniStavku(stvk.stavka.id)">Izmeni stavku</a> 

        <a href="#" data-dismiss="modal" class="btn" ng-click="stvk.init()">Zatvori</a>
      </div>

    </div>


  </div>
</div>

<!-- Fajl modal -->
  
  <div class="modal" id="fajlModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="far fa-image mr-2"></i>Fotografije</h4> 
        </div>
        <div class="modal-body">


      <div class="row photos">
      <div ng-repeat="d in stvk.fajlovi" class="col-4 mb-2 mr-0">
        <img width="250px" height="180px" src="data:image/jpg;base64,{{d.fajl}}">
        <button class="btn" ng-click="stvk.obrisiFajl(d.id)">Obrisi sliku</button>
      </div>
    </div>


       



      <div class="modal-footer mb-0">
        <div class="form-group">
        <span ng-if="stvk.fajl.base64">Fotografija ucitana, pritisnite dodaj fotografiju</span>
        <span class="btn btn-file">Izaberi fotografiju<input type="file" ng-model="stvk.fajl" name="stvk.fajl"  base-sixty-four-input required onload="onLoad" maxsize="500" accept="image/*"></span>
        <a class="btn btn-primary text-white" data-dismiss="modal" ng-click="stvk.unesiFajl()" ng-if="stvk.fajl.base64">Dodaj fotografiju</a>
        <a href="#" data-dismiss="modal" class="btn" ng-click="stvk.init()">Zatvori</a>
        </div>
        

         
        

        
      </div>

    </div>
  </div>
</div>

</div>


<div class="row">

  <table class="table table-striped mt-20 mb-20 text-center">



    <thead>
      <th>ID</th>
      <th>Naziv</th>
      <th>Akcije</th>

    </thead>
    <tbody>
      <tr ng-repeat="d in stvk.stavke" data-toggle="tooltip" data-html="true">
        <td>{{d.id}}</td>
        <td>{{d.naziv}}</td>

        <td> 
          <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal" ng-click="stvk.ucitajStavkuId(d.id)"><i class="fas fa-edit"></i></button> 
          <button class="btn btn-danger btn-sm" ng-click="stvk.obrisiDeoFirme(d.id)"><i class="fas fa-trash-alt"></i></button>
          <button class="btn btn-sm btn-file" data-toggle="modal" data-target="#fajlModal" ng-click="stvk.ucitajFajloveZaId(d.id)">Fotografije</button> 
        </td>
        </tr>
      </tbody>
      <tfoot>

      </tfoot>
    </table>

  </div>


  <div class="row fixed-bottom bg-dark down-navbar p-3">
    <button class="btn yellowst ml-3" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i> Dodaj stavku</button>
    
  </div>


</div>

