<div uib-alert ng-repeat="alert in rc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="rc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Add / Edit modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-if="rc.radnik.id != null && rc.pretraga == false" ><i class="fas fa-clipboard-list"></i>Izmena radnika</h4>
          <h4 class="modal-title" ng-if="rc.radnik.id == null && rc.pretraga == false"><i class="fas fa-clipboard-list"></i>Dodavanje radnika</h4>
          <h4 class="modal-title" ng-if="rc.radnik.id == null && rc.pretraga == true"><i class="fas fa-clipboard-list"></i>Pretraga radnika</h4> 
        </div>
        <div class="modal-body">



         <form>
          <div class="form-group">
            <label for="radnikIme">Ime</label>
            <input type="text" class="form-control" ng-model="rc.radnik.ime" id="radnikIme" placeholder="Ime">
          </div>
          <div class="form-group">
            <label for="radnikPrezime">Prezime</label>
            <input type="text" class="form-control" ng-model="rc.radnik.prezime" id="radnikPrezime" placeholder="Prezime">
          </div>
          <div class="form-group">
            <label for="kontaktEmail">Kontakt email</label>
            <input type="email" class="form-control" ng-model="rc.radnik.email" id="kontaktEmail" placeholder="Kontakt email">
          </div>
          <div class="form-group">
            <label for="kontaktTelefon">Kontakt telefon</label>
            <input type="text" class="form-control" ng-model="rc.radnik.telefon" id="kontaktTelefon" placeholder="Kontakt telefon">
          </div>
          <div class="form-group">
            <label for="korisnickoIme">Korisnicko ime</label>
            <input type="text" class="form-control" ng-model="rc.radnik.korisnicko_ime" id="korisnickoIme" placeholder="Korisnicko ime">
          </div>
          <div class="form-group" ng-if = "rc.pretraga == false">
            <label for="lozinka">Lozinka</label>
            <input type="password" class="form-control" ng-model="rc.radnik.lozinka" id="lozinka" placeholder="Lozinka">
          </div>
          <div class="form-group">
            <label for="deoFirme">Deo firme</label>
            <select class="form-control" id="deoFirme" ng-options="deoFirme.id as deoFirme.naziv for deoFirme in rc.deloviFirme track by deoFirme.id"
            ng-model="rc.radnik.deoFirme" required><option></option></select>
          </div>
          <div ng-if="rc.pretraga == false">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="korisnik" ng-model="rc.radnik.privilegije.korisnik" >
            <label class="form-check-label" for="korisnik">Korisnik</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="administrator" ng-model="rc.radnik.privilegije.administrator">
            <label class="form-check-label" for="administrator">Administrator</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="menadzer" ng-model="rc.radnik.privilegije.menadzer">
            <label class="form-check-label" for="menadzer">Menadzer</label>
          </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" ng-model="rc.radnik.aktivan" id="aktivan">
            <label class="form-check-label" for="aktivan">
              Aktivan
            </label>
          </div>

        </form>


      </div> 



      <div class="modal-footer">

        <a class="btn btn-primary text-white" ng-if="rc.radnici.length >= 0 && rc.radnik.id==null && rc.pretraga == false" data-dismiss="modal" ng-click="rc.unesiRadnika()">Dodaj radnika</a> 
        <a class="btn btn-primary text-white" ng-if="rc.radnici.length > 0 && rc.radnik.id && rc.pretraga == false" data-dismiss="modal" ng-click="rc.izmeniRadnika(rc.radnik.id)">Izmeni radnika</a>
        <a class="btn btn-primary text-white" ng-if="rc.radnici.length > 0 && rc.radnik.id==null && rc.pretraga == true" data-dismiss="modal" ng-click="rc.pretraziRadnike()">Pretrazi radnike</a> 

        <a href="#" data-dismiss="modal" class="btn" ng-click="rc.init()">Zatvori</a>
      </div>

    </div>


  </div>
</div>

<div class="row">

  <table class="table table-striped mt-20 mb-20 text-center">



    <tbody>

      <thead>
        <th>ID</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Korisnicko ime</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Aktivan</th>
        <th>Akcije</th>
      </thead>

      <tr ng-repeat="p in rc.radnici" data-toggle="tooltip" data-html="true">
        <td>{{p.id}}</td>
        <td>{{p.ime}}</td>
        <td>{{p.prezime}}</td>
        <td>{{p.korisnicko_ime}}</td>
        <td>{{p.email}}</td>
        <td>{{p.telefon}}</td>
        <td>{{p.aktivan}}</td>
        <td>
          <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal" ng-click="rc.ucitajRadnikaId(p.id)"><i class="fas fa-edit"></i></button> 
          <button class="btn btn-danger btn-sm" ng-click="rc.obrisiRadnika(p.id)"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
      <tfoot>

      </tfoot>
    </table>

  </div>


  <div class="row fixed-bottom bg-dark down-navbar p-3">
    <button class="btn yellowst ml-3" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i> Dodaj radnika</button>
    <div class="ml-auto mr-3">
      
      <button class="btn btn-danger"  data-toggle="modal" data-target="#myModal" ng-click="rc.pretragaa()"><i class="fas fa-search"></i> Pretraga radnik</button>

    </div>
  </div>


</div>


