<div uib-alert ng-repeat="alert in pc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="pc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">


  <div class="masonry">



    <div class="brick" ng-repeat="p in pc.aktivne_porudzbine">
      
      <div class="card" ng-if="p.status_porudzbine.status=='OTVORENA' || p.status_porudzbine.status=='ZATVORENA' ">
       
        
        <div class="list-group ">
          <div class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
              <h6>{{p.status_porudzbine.status}}</h6>
              <h5 class="mb-1">P.{{p.id}}</h5>
            </div>
            <h6><small>{{p.datum_otvaranja}}</small></h6>
            <p class="mb-1" ng-if="p.klijent_id" >Klijent: Bogdan Teofanovic +381643288288</small></p>
            <p class="mb-1" ng-if="p.radnik_id" >Radnik: {{p.radnik.ime}} {{p.radnik.prezime}} {{p.radnik.telefon}}</small></p>
          </div>
        </div>
        
        
        <ul class="list-group flush">
          <li class="list-group-item" ng-repeat="istorija in p.stavke">{{istorija.stavka.naziv}}</li>
        </ul>
            
        <div class="card-footer">
          <div ng-if="p.dostava_ime">Dostava: {{p.dostava_ime}} {{p.dostava_telefon}} Ulica: {{p.dostava_ulica}} </div>
          <div class="small mb-1">Ukupno: {{p.suma}} RSD</div>
          <button class="btn btn-primary btn-sm" ng-click="pc.promenaStatusa(p.id, 'zatvorena')" ng-if="p.status_porudzbine.status=='OTVORENA'">Zatvori</button>
            <button class="btn btn yellowst btn-sm" ng-click="pc.promenaStatusa(p.id, 'isporucena')" ng-if="p.status_porudzbine.status=='ZATVORENA'">Isporuči</button>
            <button class="btn btn-info btn-sm" ng-click="pc.promenaStatusa(p.id, 'naplacena')" ng-if="p.status_porudzbine.status=='ISPORUCENA'">Naplati</button>
        </div>
      </div>


    </div>
  </div>

</div>





</div>

