<div uib-alert ng-repeat="alert in pc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="pc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Search modal -->

  <div class="modal" id="pretragaModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ><i class="fas fa-clipboard-list"></i>Pretraga Porduzbine</h4>
        </div>
        <div class="modal-body">
         


         <form>
          <div class="form-group">
            <label for="radnik">Status</label>
            <select class="form-control" id="status" ng-options="status.id as status.status for status in pc.statusi track by status.id" ng-model="pc.porudzbina.status_porudzbine_id">
              <option></option>
            </select>
          </div>
          <div class="form-row">
            <div class="col">
            <label for="exampleInputEmail1">Datum otvaranja od</label>
            <input type="date" class="form-control" ng-model="pc.porudzbina_query.otvaranje_od" ng-change="pc.porudzbina.datum_otvaranja__from=pc.porudzbina_query.otvaranje_od.toISOString().substring(0, 10)">
            </div>
            <div class="col">
            <label for="exampleInputEmail1">Datum otvaranja do</label>
            <input type="date" class="form-control" ng-model="pc.porudzbina_query.otvaranje_do" ng-change="pc.porudzbina.datum_otvaranja__to=pc.porudzbina_query.otvaranje_do.toISOString().substring(0, 10)">
            </div>
          </div>

          <div class="form-row">
            <div class="col">
            <label for="exampleInputEmail1">Datum zatvaranja od</label>
            <input type="date" class="form-control" ng-model="pc.porudzbina_query.zatvaranja_od" ng-change="pc.porudzbina.datum_zatvaranja__from=pc.porudzbina_query.zatvaranja_od.toISOString().substring(0, 10)">
            </div>
            <div class="col">
            <label for="exampleInputEmail1">Datum zatvaranja do</label>
            <input type="date" class="form-control" ng-model="pc.porudzbina_query.zatvaranja_do" ng-change="pc.porudzbina.datum_zatvaranja__to=pc.porudzbina_query.zatvaranja_do.toISOString().substring(0, 10)">
            </div>
          </div>

          <div class="form-group">
            <label for="radnik">Radnik</label>
            <select class="form-control" id="radnik" ng-options="radnik.id as radnik.ime + ' ' + radnik.prezime for radnik in pc.radnici track by radnik.id" ng-model="pc.porudzbina.radnik_id">
              <option></option>
            </select>
          </div>
          
          
        </form>

            
        </div> 
          
  
          
          <div class="modal-footer">
          
          <a class="btn btn-primary text-white" data-dismiss="modal" ng-click="pc.pretrazi()">Pretrazi</a> 
          
          
          <a href="#" data-dismiss="modal" class="btn">Zatvori</a>
        </div>

      </div>

        
      </div>
    </div>

  <!-- Add / Edit modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-if="pc.porudzbina.id != null"><i class="fas fa-clipboard-list"></i> Izmena porudžbine {{pc.porudzbina.id}}</h4>
          <h4 class="modal-title" ng-if="pc.porudzbina.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje porudžbine</h4>
          <a class="btn btn-secondary text-light" ng-if="pc.temp_istorije_porudzbine.length > 0" data-dismiss="modal" ng-click="pc.stampajPorudzbinu()"><i class="fas fa-print"></i> Štampa</a> 
        </div><div class="container"></div>
        <div class="modal-body">

          
          <div class="form-group" ng-if="pc.porudzbina.dostavljanje != 'dostava' && pc.porudzbina.dostava != true">
            <label for="grad">Način dostave</label>
            <select class="form-control" id="kategorija_id" ng-options="p.id as p.naziv for p in pc.preuzimanje track by p.id" ng-model="pc.porudzbina.dostavljanje" ng-disabled="pc.porudzbina.status_porudzbine.status == 'ZATVORENA' || pc.porudzbina.status_porudzbine.status == 'ISPORUCENA' || pc.porudzbina.status_porudzbine.status == 'NAPLACENA'"><option></option></select>
            </pre>
          </div>

          <div class="form-group" ng-if="pc.porudzbina.dostavljanje.id =='restoran' || pc.porudzbina.dostavljanje == 'restoran' ">
            <label for="grad">Odaberi sto</label>
            <select class="form-control" id="sto" ng-options="sto.id as sto.id for sto in pc.stolovi track by sto.id" ng-model="pc.porudzbina.sto" required><option></option></select>
          </div>
          
          <div ng-if="pc.porudzbina.dostavljanje == 'dostava' || pc.porudzbina.podaci_dostave || pc.porudzbina.dostavljanje.id == 'dostava'">

            <pre ng-if="pc.porudzbina.podaci_dostave">Podaci za dostavu: {{pc.porudzbina.podaci_dostave.id + ' '+ pc.porudzbina.podaci_dostave.ime + ' ' + pc.porudzbina.podaci_dostave.prezime + ' Adresa: '+ pc.porudzbina.podaci_dostave.ulica + ' ' + pc.porudzbina.podaci_dostave.telefon }} <button class="btn btn-danger btn-sm center" ng-click="pc.dostavaFalse()">Poništi</button></pre>

            <pre ng-if="pc.porudzbina.dostava_ime">Podaci za dostavu: {{pc.porudzbina.dostava_ime + ' '+ pc.porudzbina.dostava_prezime + ' ' + ' Adresa: '+ pc.porudzbina.dostava_ulica + ' ' + pc.porudzbina.dostava_telefon }} <button class="btn btn-danger btn-sm center" ng-click="pc.dostavaFalse()">Poništi</button></pre>
            
          <div class="form-row">
            <div class="col">
              <div class="typeahead-demo">
              <input class="form-control" type="text" ng-model="pc.porudzbina.podaci_dostave" ng-model-options="modelOptions" placeholder="Kontakt telefon klijenta" uib-typeahead="korisnik as korisnik.ime + ' ' + korisnik.prezime + ' ' + korisnik.telefon for korisnik in pc.getKorisnici($viewValue) | filter:$viewValue | limitTo:8" >
            </div>
            </div>
            <div class="col">
             <button class="btn btn-primary text-white btn-sm center"  data-toggle="modal" data-target="#addKorisnikModal" ng-click="pc.podaciDostave()">Dodaj klijenta</button>
            </div>
          </div>

          </div> 
          
          <h5 ng-if="pc.temp_istorije_porudzbine.length > 0" class="mt-3">Stavke porudžbine</h5>
          <table class="table table-sm" ng-if="pc.temp_istorije_porudzbine.length > 0">

            <tbody>

              <thead class="thead-light">
                <th>ID</th>
                <th>Naziv</th>
                <th>Cena</th>
                <th class="text-center">Akcije</th>
              </thead>

              <tr ng-repeat="s in pc.temp_istorije_porudzbine" >
                <td>{{s.stavka.id}}</td>
                <td>{{s.stavka.naziv}}</td>
                <td>{{s.stavka.cena}}</td>
                <td class="text-center"><div ><button ng-if="pc.porudzbina.status_porudzbine.status != 'ZATVORENA' && pc.porudzbina.status_porudzbine.status != 'ISPORUCENA' && pc.porudzbina.status_porudzbine.status != 'NAPLACENA'" class="btn btn-danger btn-sm center" ng-click="pc.obrisiIstorijuPorudzbine(s.id)"><i class="fas fa-trash-alt"></i></button></div></td>
              </tr>
            </tbody>
            <tfoot>

            </tfoot>
          </table>
          
          <div class="form-group">
            <label for="napomena">Napomena</label>
            <textarea ng-model="pc.porudzbina.napomena" class="form-control" id="napomena" rows="3">napomena</textarea>
          </div>

        </div>
        


        <div class="modal-footer">

          <a data-toggle="modal" data-target="#myModal2" class="btn btn-primary mr-auto text-white">Dodaj stavku</a>
          <div class="ml-3" ng-if="pc.porudzbina.id">Ukupna cena: {{pc.porudzbina.cena}}</div>
          <a class="btn btn-primary text-white" ng-if="pc.temp_istorije_porudzbine.length > 0 && pc.porudzbina.id==null" data-dismiss="modal" ng-click="pc.unesiPorudzbinu()">Napravi porudžbinu</a> 
          <a class="btn btn-primary text-white" ng-if="pc.temp_istorije_porudzbine.length > 0 && pc.porudzbina.id && (pc.porudzbina.status_porudzbine.status == 'OTVORENA' || pc.porudzbina.status_porudzbine.status == 'PRIPREMA' )" data-dismiss="modal" ng-click="pc.izmeniPorudzbinu(pc.porudzbina.id)">Izmeni porudžbinu</a> 
          <button class="btn btn-secondary btn-sm px-3" ng-click="pc.promenaStatusa(pc.porudzbina.id, 'priprema')" data-dismiss="modal" ng-if="pc.porudzbina.status_porudzbine.status=='ZATVORENA' || pc.porudzbina.status_porudzbine.status=='ISPORUCENA' || pc.porudzbina.status_porudzbine.status=='NAPLACENA'">Otvori porudzbinu</button>
          <a href="#" data-dismiss="modal" class="btn" ng-click="pc.init()">Zatvori</a>
        </div>
      </div>
    </div>
  </div>
  


    <div class="modal mt-4" id="myModal2" data-backdrop="static">
    <div class="modal-dialog myModal mt-3">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fas fa-list-ol"></i> Dodaj stavku</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div><div class="container"></div>
        <div class="modal-body">

          <div class="form-group">
            <label for="grad">Kategorija stavke</label>
            <select class="form-control" id="kategorija_id" ng-options="kategorija.id as kategorija.naziv for kategorija in pc.temp_kategorije track by kategorija.id" ng-model="pc.temp_stavka.kategorija_id" ng-change="pc.ucitajPodkategorijeZaIdKat(pc.temp_stavka.kategorija_id)" required><option></option></select>
          </div>

          <div class="form-group" ng-if="pc.temp_stavka.kategorija_id">
            <label for="grad">Podkategorija stavke</label>
            <select class="form-control" id="kategorija_id" ng-options="podkategorija.id as podkategorija.naziv for podkategorija in pc.temp_podkategorije track by podkategorija.id" ng-model="pc.temp_stavka.podkategorija_id" ng-change="pc.ucitajStavkeZaId(pc.temp_stavka.podkategorija_id)" required><option></option></select>
          </div>

          <div class="form-group" ng-if="pc.temp_stavka.podkategorija_id">
            <label for="grad">Odaberi stavku</label>
            <select class="form-control" id="kategorija_id" ng-options="stavka as stavka.naziv +' ' + stavka.cena for stavka in pc.temp_stavke track by stavka.id" ng-model="pc.temp_stavka.stavka" ><option></option></select>
          </div>

        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Zatvori</a>
          <a href="#" data-dismiss="modal" class="btn btn-primary" ng-click="pc.dodajTempIstoriju()">Dodaj</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="addKorisnikModal" data-backdrop="static" ng-submit="pc.unesiKorisnika()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title" ng-if="pc.korisnik.id != null"><i class="fas fa-clipboard-list"></i>Izmena korisnika</h4>
          <h4 class="modal-title" ng-if="pc.korisnik.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje korisnika</h4> 
            </div>
            <div class="modal-body">
                
                <form>              
                  <div class="form-row">
                  <div class="col">
                    <label for="ime">Ime</label>
                     <input type="text" class="form-control" id="ime" placeholder="Ime klijenta" ng-model="pc.korisnik.ime" required>
                   </div>
                  
                  <div class="col">
                    <label for="prezime">Prezime</label>
                    <input type="text" class="form-control" id="prezime" placeholder="Prezime klijenta" ng-model="pc.korisnik.prezime" required>
                  </div>
                  </div>
                  <div class="form-row">
                  <div class="col">
                    <label for="kontakt_telefon">Kontakt telefon</label>
                    <input type="text" class="form-control" id="kontakt_telefon" placeholder="Kontakt telefon" ng-model="pc.korisnik.telefon" required>
                  </div>
                  
                  <div class="col">
                    <label for="kontakt_email">Kontakt email</label>
                    <input type="text" class="form-control" id="kontakt_email" placeholder="Kontakt email" ng-model="pc.korisnik.email">
                  </div>
                  </div>
                  <div class="form-group">
                 
                    <label for="ulica">Ulica</label>
                    <input type="text" class="form-control" id="ulica" placeholder="Ulica" ng-model="pc.korisnik.ulica" required>
                  
                  </div>
                  <div class="form-row">
                  <div class="col">
                    <label for="stan">Broj stana</label>
                    <input type="text" class="form-control" id="stan" placeholder="Broj stana" ng-model="pc.korisnik.stan" required>
                  </div>

                  <div class="col">
                    <label for="stan">Sprat</label>
                    <input type="number" class="form-control" id="sprat" placeholder="Sprat" ng-model="pc.korisnik.sprat">
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="grad">Grad</label>
                    <select class="form-control" id="grad" ng-options="grad.id as grad.postanski_broj + ' ' + grad.naziv for grad in pc.gradovi track by grad.id" ng-model="pc.korisnik.grad" ng-change="pc.ucitajDeloveGradaZaId(pc.korisnik.grad.id)">
                      <option></option>
                    </select>
                 </div>
                 <div class="form-group" ng-if="pc.korisnik.grad">
                    <label for="grad">Deo grada</label>
                    <select class="form-control" id="grad" ng-options="deo_grada.id as deo_grada.naziv for deo_grada in pc.delovi_grada track by deo_grada.id" ng-model="pc.korisnik.deo_grada" required>
                      <option></option>
                    </select>
                 </div>
                
                <div class="form-group">
                    <label for="napomena">Napomena</label>
                    <input type="text" class="form-control" id="napomena" placeholder="Napomena" ng-model="pc.korisnik.napomena">
                </div>

              
                
                </form>

            </div>

            <div class="modal-footer" >
                <a class="btn btn-primary text-white" data-dismiss="modal" ng-click="pc.unesiKorisnika()">Dodaj korisnika</a>
                
                <a href="#" data-dismiss="modal" class="btn" ng-click="">Zatvori</a>

            </div>
        </div>
    </div>
</div>


  <div class="row">

    <table class="table table-striped mt-20 mb-20 text-center">

      <tbody>

        <thead>
          <th>Izmena statusa</th>
          <th>Broj porudžbine</th>
          <th>Status</th>
          <th>Sto ID</th>
          <th>Datum otvaranja</th>
          <th>Datum zatvaranja</th>
          <th>Radnik ime</th>
          <th>Radnik prezime</th>
          <th>Ukupna cena</th>
          <th>Akcije</th>
        </thead>

        <tr ng-repeat="p in pc.porudzbine" data-toggle="tooltip" data-html="true" title="Test tooltip" >
          <td><button class="btn btn-secondary btn-sm px-3" ng-click="pc.promenaStatusa(p.id, 'zatvorena')" ng-if="p.status_porudzbine.status=='PRIPREMA'">Zatvori</button>
            <button class="btn btn-info btn-sm " ng-click="pc.promenaStatusa(p.id, 'priprema')" ng-if="p.status_porudzbine.status=='OTVORENA'">Priprema</button>
            <button class="btn btn yellowst btn-sm px-3" ng-click="pc.promenaStatusa(p.id, 'isporucena')" ng-if="p.status_porudzbine.status=='ZATVORENA'">Isporuči</button>
            <button class="btn btn-file btn-sm px-3" ng-click="pc.promenaStatusa(p.id, 'naplacena')" ng-if="p.status_porudzbine.status=='ISPORUCENA'">Naplati</button></td>
          <td>{{p.id}}</td>
          <td>{{p.status_porudzbine.status}}</td>
          <td>{{p.stoId}}</td>
          <td>{{p.datum_otvaranja}}</td>
          <td>{{p.datum_zatvaranja}}</td>
          <td>{{p.radnik.ime}}</td>
          <td>{{p.radnik.prezime}}</td>
          <td>{{p.ukupna_cena}}</td>
          <td>
            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"  ng-click="pc.ucitajPorudzbinuId(p.id)" title="Izmeni"><i class="fas fa-edit"></i></button> 
            <button class="btn btn-danger btn-sm" ng-click="pc.obrisiPorudzbinu(p.id)" title="Obrisi"><i class="fas fa-trash-alt"></i></button> 
            
          </td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>


    <div class="row fixed-bottom bg-dark down-navbar p-3">
      <button class="btn yellowst ml-3" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i> Dodaj porudžbinu</button>
      <div class="ml-auto mr-3"><button class="btn btn-danger"  data-toggle="modal" data-target="#pretragaModal"><i class="fas fa-search"></i> Pretraga</button></div>
    </div>


  </div>

