  <!DOCTYPE html>
  <html>

  <head>
    <title>Restaurant App</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body ng-app="app">
  <div id="navigacija" ng-controller="MenuCtrl as mc">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <img src="img/logo.png"  class="img-responsive mx-auto d-block mb-3" width="50px" height="50px">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-list-alt"></i> Porudžbine</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" ui-sref="aktivne_porudzbine" ui-sref-active="active">Aktivne porudžbine</a>
          <a class="dropdown-item" ui-sref="sve_porudzbine" ui-sref-active="active">Sve porudžbine</a>
          <a class="dropdown-item" ui-sref="sve_porudzbine" ui-sref-active="active">Istorije porudžbine</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Moje porudžbine</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> Stavke</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" ui-sref="stavke" ui-sref-active="active">Sve stavke</a>
          <a class="dropdown-item" ui-sref="podkategorije" ui-sref-active="active">Podkategorije</a>
          <a class="dropdown-item" ui-sref="kategorije" ui-sref-active="active">Kategorije</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> Klijenti</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" ui-sref="aktivne_porudzbine" ui-sref-active="active">Svi klijenti</a>
          <a class="dropdown-item" ui-sref="delovigrada" ui-sref-active="active">Delovi grada</a>
          <a class="dropdown-item" ui-sref="gradovi" ui-sref-active="active">Gradovi</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-building"></i> Firma
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" ui-sref="radnici" ui-sref-active="active">Radnici</a>
          <a class="dropdown-item" ui-sref="deloviFirme" ui-sref-active="active">Delovi firme</a>
          <a class="dropdown-item" ui-sref="stolovi" ui-sref-active="active">Stolovi</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" ui-sref="firme" ui-sref-active="active"><i class="fas fa-info"></i> Detalji firme</a>
        </div>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right" >
          <li ng-if="mc.loggedIn" class="text-white"><i class="fas fa-user"></i> Bogdan Teofanovic <a ng-click="mc.logout()" class="btn btn-info btn-sm">Odjavi se</a></li>
          <li ng-if="!mc.loggedIn" class="text-white"><a ui-sref="login" class="btn btn-primary btn-sm"><i class="fas fa-user"></i>Prijava</a></li>
    </ul>
    
  </div>

</nav>
</div>


      <div>
        <ui-view></ui-view>
      </div>


                
               <script src="scripts/jquery-3.3.1.min.js"></script>
                <script src="scripts/popper.min.js"></script>
                <script src="scripts/bootstrap.bundle.min.js"></script>
                <script src="scripts/angular.min.js"></script>
                <script src="scripts/angular-ui-router.min.js"></script>
                <script src="scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
                <script src="scripts/ng-table.min.js"></script>
                <script src="scripts/angular-base64-upload.js"></script>
                <script src="app/app.js"></script>
                <script src="app/controler/porudzbina/porudzbinaCtrl.js"></script>
                <script src="app/controler/adresa/adresaCtrl.js"></script>
                <script src="app/controler/grad/gradCtrl.js"></script>
                <script src="app/controler/korisnik/korisnikCtrl.js"></script>
                <script src="app/controler/radnik/radnikCtrl.js"></script>
                <script src="app/controler/deoFirme/deoFirmeCtrl.js"></script>
                <script src="app/controler/firma/firmaCtrl.js"></script>
                <script src="app/controler/sto/stoCtrl.js"></script>
                <script src="app/controler/kategorija/kategorijaCtrl.js"></script>
                <script src="app/controler/podkategorija/podkategorijaCtrl.js"></script>
                <script src="app/controler/deoGrada/deoGradaCtrl.js"></script>
                <script src="app/controler/stavka/stavkaCtrl.js"></script>
                <script src="app/controler/login/loginCtrl.js"></script>
                <script src="app/controler/menu/menuCtrl.js"></script>
             </body>

             </html>