<div uib-alert ng-repeat="alert in lc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="lc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">


<div class="login">
<form class="mt-3">
  <div class="d-flex justify-content-center">
    <img src="img/logo_woker.png"  class="img-responsive mx-auto d-block mb-3" >
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Korisnicko ime</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Korisnicko ime" ng-model="lc.radnik.korisnicko_ime">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-3 col-form-label">Lozinka</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Lozinka" ng-model="lc.radnik.lozinka">
    </div>
  </div>
    <div class="form-group row">
    <div class="col-sm-9">
      <button type="submit" class="btn btn-primary" ng-click="lc.login()">Prijavi se</button>
    </div>
  </div>
</form>
</div>

</div>

