<div uib-alert ng-repeat="alert in pkc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="pkc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Add / Edit modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-if="pkc.podkategorija.id != null"><i class="fas fa-clipboard-list"></i>Izmena podkategorije</h4>
          <h4 class="modal-title" ng-if="pkc.podkategorija.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje podkategorije</h4> 
        </div>
        <div class="modal-body">
         


         <form>
          <div class="form-group">
            <label for="podkategorija">Podkategorija</label>
            <input type="text" class="form-control" ng-model="pkc.podkategorija.naziv" placeholder="Naziv podkategorije" id="podkategorija">
          </div>

          <div class="form-group">
            <label for="kategorija">Kategorija</label>
            <select class="form-control" id="kategorija" ng-options="kategorija.id as kategorija.naziv for kategorija in pkc.kategorije track by kategorija.id"
            ng-model="pkc.podkategorija.kategorija" required><option></option></select>
          </div>

        </form>

            
        </div> 
          
  
          
          <div class="modal-footer">
          
          <a class="btn btn-primary text-white" ng-if="pkc.podkategorije.length > 0 && pkc.podkategorija.id==null" data-dismiss="modal" ng-click="pkc.unesiPodkategoriju()">Dodaj podkategoriju</a> 
          <a class="btn btn-primary text-white" ng-if="pkc.podkategorije.length > 0 && pkc.podkategorija.id" data-dismiss="modal" ng-click="pkc.izmeniPodkategoriju(pkc.podkategorija.id)">Izmeni podkategoriju</a> 
          
          <a href="#" data-dismiss="modal" class="btn" ng-click="pkc.init()">Zatvori</a>
        </div>

      </div>

        
      </div>
    </div>


  <div class="row">

    <table class="table table-striped mt-20 mb-20 text-center">

      

        <thead>
          <th>ID</th>
          <th>Podkategorija</th>
          <th>Kategorija</th>
          <th>Akcije</th>
          
        </thead>
        <tbody>
        <tr ng-repeat="d in pkc.podkategorije" data-toggle="tooltip" data-html="true">
          <td>{{d.id}}</td>
          <td>{{d.kategorija.naziv}}</td>
          <td>{{d.naziv}}</td>

          <td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="pkc.ucitajPodkategorijuId(d.id)"><i class="fas fa-edit"></i></button> 
              
              <button class="btn btn-danger btn-sm" ng-click="pkc.obrisiPodkategoriju(d.id)"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>


    <div class="row fixed-bottom bg-dark down-navbar p-3">
      <button class="btn yellowst ml-3" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i> Dodaj podkategoriju</button>
    </div>


  </div>

