<div uib-alert ng-repeat="alert in kc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="kc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

    <!-- Add / Edit modal -->
    <div class="modal" id="addModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title" ng-if="kc.korisnik.id != null"><i class="fas fa-clipboard-list"></i>Izmena korisnika</h4>
          <h4 class="modal-title" ng-if="kc.korisnik.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje korisnika</h4> 
            </div>
            <div class="modal-body">
                
                <form>              
                  <div class="form-row">
                  <div class="col">
                    <label for="ime">Ime</label>
                     <input type="text" class="form-control" id="ime" placeholder="Ime klijenta" ng-model="kc.korisnik.ime" required>
                   </div>
                  
                  <div class="col">
                    <label for="prezime">Prezime</label>
                    <input type="text" class="form-control" id="prezime" placeholder="Prezime klijenta" ng-model="kc.korisnik.prezime" required>
                  </div>
                  </div>
                  <div class="form-row">
                  <div class="col">
                    <label for="kontakt_telefon">Kontakt telefon</label>
                    <input type="text" class="form-control" id="kontakt_telefon" placeholder="Kontakt telefon" ng-model="kc.korisnik.telefon" required>
                  </div>
                  
                  <div class="col">
                    <label for="kontakt_email">Kontakt email</label>
                    <input type="text" class="form-control" id="kontakt_email" placeholder="Kontakt email" ng-model="kc.korisnik.email">
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="ulica">Ulica</label>
                    <input type="text" class="form-control" id="ulica" placeholder="Ulica" ng-model="kc.korisnik.ulica" required>
                  </div>
                  <div class="form-row">
                  <div class="col">
                    <label for="stan">Broj stana</label>
                    <input type="text" class="form-control" id="stan" placeholder="Broj stana" ng-model="kc.korisnik.stan" required>
                  </div>

                  <div class="col">
                    <label for="stan">Sprat</label>
                    <input type="number" class="form-control" id="sprat" placeholder="Sprat" ng-model="kc.korisnik.sprat">
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="grad">Grad</label>
                    <select class="form-control" id="grad" ng-options="grad.id as grad.postanski_broj + ' ' + grad.naziv for grad in kc.gradovi track by grad.id" ng-model="kc.korisnik.grad" ng-change="kc.ucitajDeloveGradaZaId(kc.korisnik.grad)">
                      <option></option>
                    </select>
                 </div>
                 <div class="form-group" ng-if="kc.korisnik.grad">
                    <label for="grad">Deo grada</label>
                    <select class="form-control" id="grad" ng-options="deo_grada.id as deo_grada.naziv for deo_grada in kc.delovi_grada track by deo_grada.id" ng-model="kc.korisnik.deo_grada" required>
                      <option></option>
                    </select>
                 </div>
                
                <div class="form-group">
                    <label for="napomena">Napomena</label>
                    <input type="text" class="form-control" id="napomena" placeholder="Napomena" ng-model="kc.korisnik.napomena">
                </div>
                
                </form>

            </div>

            <div class="modal-footer" >
                <a class="btn btn-primary" ng-if="kc.korisnici.length > 0 && kc.korisnik.id==null" data-dismiss="modal" ng-click="kc.unesiKorisnika()">Dodaj korisnika</a> 
                <a class="btn btn-primary" ng-if="kc.korisnici.length > 0 && kc.korisnik.id" data-dismiss="modal" ng-click="kc.izmeniKorisnika(kc.korisnik.id)">Izmeni korisnika</a> 

                <a href="#" data-dismiss="modal" class="btn" ng-click="kc.init()">Zatvori</a>

            </div>
        </div>
    </div>
</div>
<!-- Add modal end -->


          <div class="row">

            <table class="table table-striped mt-20 mb-20 text-center">



              <thead>
                <th>ID</th>
                <th>Korisnicko ime</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Akcije</th>

              </thead>
              <tbody>
                <tr ng-repeat="d in kc.korisnici" data-toggle="tooltip" data-placement="top" title="{{d.ime}} {{d.prezime}} {{d.telefon}}">
                  <td>{{d.id}}</td>
                  <td>{{d.korisnicko_ime}}</td>
                  <td>{{d.ime}}</td>
                  <td>{{d.prezime}}</td>
                  <td>{{d.email}}</td>
                  <td>{{d.telefon}}</td>
                  <td> 
                    <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#addModal" ng-click="kc.ucitajKorisnikaId(d.id)"><i class="fas fa-edit"></i></button> 
                    <button class="btn btn-danger btn-sm" ng-click="kc.obrisiKorisnika(d.id)"><i class="fas fa-trash-alt"></i></button>
                    
                  </td>
                  </tr>
                </tbody>
                <tfoot>

                </tfoot>
              </table>

            </div>




    </div>
<footer class="footer bg-dark">

      <div class="container-fluid">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Dodaj korisnika</button>
      </div>
</footer>
