<div uib-alert ng-repeat="alert in gc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="gc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Add / Edit modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-if="gc.grad.id != null"><i class="fas fa-clipboard-list"></i>Izmena grada</h4>
          <h4 class="modal-title" ng-if="gc.grad.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje grada</h4> 
        </div>
        <div class="modal-body">
         


         <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Grad</label>
            <input type="text" class="form-control" ng-model="gc.grad.naziv" placeholder="Naziv grada"><br>
            <input type="text" class="form-control" ng-model="gc.grad.postanski_broj" placeholder="Poštanski broj">

            <small id="emailHelp" class="form-text text-muted">Unesite naziv grada i odgovarajući poštanski broj.</small>
          </div>
          

        </form>

            
        </div> 
          
  
          
          <div class="modal-footer">
          
          <a class="btn btn-primary text-white" ng-if="gc.gradovi.length > 0 && gc.grad.id==null" data-dismiss="modal" ng-click="gc.unesiGrad()">Dodaj grad</a> 
          <a class="btn btn-primary text-white" ng-if="gc.gradovi.length > 0 && gc.grad.id" data-dismiss="modal" ng-click="gc.izmeniGrad(gc.grad.id)">Izmeni grad</a> 
          
          <a href="#" data-dismiss="modal" class="btn" ng-click="gc.init()">Zatvori</a>
        </div>

      </div>

        
      </div>
    </div>


  <div class="row">

    <table class="table table-striped mt-20 mb-20 text-center">

      

        <thead>
          <th>ID</th>
          <th>Naziv</th>
          <th>Akcije</th>
          
        </thead>
        <tbody>
        <tr ng-repeat="d in gc.gradovi" data-toggle="tooltip" data-html="true">
          <td>{{d.id}}</td>
          <td>{{d.naziv}}</td>

          <td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="gc.ucitajGradId(d.id)"><i class="fas fa-edit"></i></button> 
              <button class="btn btn-danger btn-sm" ng-click="gc.obrisiGrad(d.id)"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>


    <div class="row fixed-bottom bg-dark down-navbar p-3">
      <button class="btn yellowst ml-3" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i>Dodaj grad</button>
    </div>


  </div>

