<div uib-alert ng-repeat="alert in df.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="df.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Add / Edit modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-if="df.deoFirme.id != null"><i class="fas fa-clipboard-list"></i>Izmena dela firme</h4>
          <h4 class="modal-title" ng-if="df.deoFirme.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje dela firme</h4> 
        </div>
        <div class="modal-body">
         


         <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Deo firme</label>
            <input type="text" class="form-control" ng-model="df.deoFirme.naziv" placeholder="Naziv dela firme">
            <small id="emailHelp" class="form-text text-muted">Unesite naziv novog dela firme.</small>
          </div>
        </form>

            
        </div> 
          
  
          
          <div class="modal-footer">
          
          <a class="btn btn-primary" ng-if="df.deloviFirme.length > 0 && df.deoFirme.id==null" data-dismiss="modal" ng-click="df.unesiDeoFirme()">Dodaj deo firme</a> 
          <a class="btn btn-primary" ng-if="df.deloviFirme.length > 0 && df.deoFirme.id" data-dismiss="modal" ng-click="df.izmeniDeoFirme(df.deoFirme.id)">Izmeni deoFirme</a> 
          
          <a href="#" data-dismiss="modal" class="btn" ng-click="df.init()">Zatvori</a>
        </div>

      </div>

        
      </div>
    </div>


  <div class="row">

    <table class="table table-striped mt-20 mb-20 text-center">

      

        <thead>
          <th>ID</th>
          <th>Naziv</th>
          <th>Akcije</th>
          
        </thead>
        <tbody>
        <tr ng-repeat="d in df.deloviFirme" data-toggle="tooltip" data-html="true">
          <td>{{d.id}}</td>
          <td>{{d.naziv}}</td>

          <td>
              <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#addModal" ng-click="df.ucitajDeoFirmeId(p.id)"><i class="fas fa-edit"></i></button> 
              <button class="btn btn-danger btn-sm" ng-click="df.obrisiDeoFirme(d.id)"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>


    <div class="row fixed-bottom bg-dark down-navbar p-3">
      <button class="btn yellowst ml-3" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i> Dodaj deo firme</button>
      
    </div>


  </div>

