<div uib-alert ng-repeat="alert in sc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="sc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Add / Edit modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-if="sc.sto.id != null"><i class="fas fa-clipboard-list"></i>Izmena stola</h4>
          <h4 class="modal-title" ng-if="sc.sto.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje stola</h4> 
        </div>
        <div class="modal-body">
         


         <form>
          <div class="form-group">
            <label for="stoNaziv">Naziv</label>
            <input type="text" class="form-control" ng-model="sc.sto.naziv" id="stoNaziv" placeholder="Naziv stola">
          </div>
    
          <div class="form-group">
            <label for="deoFirme">Deo firme</label>
            <select class="form-control" id="deoFirme" ng-options="deoFirme.id as deoFirme.naziv for deoFirme in sc.deloviFirme track by deoFirme.id"
            ng-model="sc.sto.deoFirme" required><option></option></select>
          </div>
        </form>

            
        </div> 
          
  
          
          <div class="modal-footer">
          
          <a class="btn btn-primary" ng-if="sc.stolovi.length > 0 && sc.sto.id==null" data-dismiss="modal" ng-click="sc.unesiSto()">Dodaj sto</a> 
          <a class="btn btn-primary" ng-if="sc.stolovi.length > 0 && sc.sto.id" data-dismiss="modal" ng-click="sc.izmeniSto(sc.sto.id)">Izmeni sto</a> 
          
          <a href="#" data-dismiss="modal" class="btn" ng-click="sc.init()">Zatvori</a>
        </div>

      </div>

        
      </div>
    </div>


  <div class="row">

    <table class="table table-striped mt-20 mb-20 text-center">

      

        <thead>
          <th>ID</th>
          <th>Naziv</th>
          <th>Deo firme</th>
          <th>Akcije</th>
          
        </thead>
        <tbody>
        <tr ng-repeat="d in sc.stolovi" data-toggle="tooltip" data-html="true">
          <td>{{d.id}}</td>          
          <td>{{d.naziv}}</td>
          <td>{{d.deoFirme.naziv}}</td>

          <td>
              <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#addModal" ng-click="sc.ucitajStoId(p.id)"><i class="fas fa-edit"></i></button> 
              <button class="btn btn-danger btn-sm" ng-click="sc.obrisiSto(d.id)"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>


    <div class="row fixed-bottom bg-dark down-navbar p-3">
      <button class="btn yellowst ml-3" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i> Dodaj sto</button>
      <div class="ml-auto mr-3"><button class="btn btn-danger"><i class="fas fa-search"></i> Pretraga</button></div>
    </div>


  </div>

