<div uib-alert ng-repeat="alert in fc.notifikacije" dismiss-on-timeout='4000' ng-class="'alert-info custom-alert'" close="fc.closeAlert($index)">{{alert.msg}}</div>
<div class="container-fluid">

  <!-- Add / Edit modal -->

  <div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-lg myModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-if="fc.firma.id != null"><i class="fas fa-clipboard-list"></i>Izmena firme</h4>
          <h4 class="modal-title" ng-if="fc.firma.id == null"><i class="fas fa-clipboard-list"></i>Dodavanje firme</h4> 
        </div>
        <div class="modal-body">



         <form>
          <div class="form-group">
            <label for="firmaNaziv">Naziv</label>
            <input type="text" class="form-control" ng-model="fc.firma.naziv" id="firmaNaziv" placeholder="Naziv dela firme">
          </div>
          <div class="form-group">
            <label for="kontaktTelefon">Kontakt telefon</label>
            <input type="text" class="form-control" ng-model="fc.firma.kontakt_telefon" id="kontaktTelefon" placeholder="Kontakt telefon">
          </div>
          <div class="form-group">
            <label for="kontaktEmail">Kontakt email</label>
            <input type="email" class="form-control" ng-model="fc.firma.kontakt_email" id="kontaktEmail" placeholder="Kontakt email">
          </div>
          <div class="form-group">
            <label for="webAdresa">Web adresa</label>
            <input type="text" class="form-control" ng-model="fc.firma.web_adresa" id="webAdresa" placeholder="Web adresa">
          </div>
          <div class="form-group">
            <label for="ulica">Ulica</label>
            <input type="text" class="form-control" ng-model="fc.firma.ulica" id="ulica" placeholder="Ulica">
          </div>
          <div class="form-group">
            <label for="broj">Broj</label>
            <input type="text" class="form-control" ng-model="fc.firma.broj" id="broj" placeholder="Broj">
          </div>
          <div class="form-group">
            <label for="grad">Grad</label>
            <select class="form-control" id="grad" ng-options="grad.id as grad.postanski_broj + ' ' + grad.naziv for grad in fc.gradovi track by grad.id"
            ng-model="fc.firma.grad" required><option></option></select>
          </div>

        </form>


      </div> 



      <div class="modal-footer">

        <a class="btn btn-primary" ng-if="fc.firme.length > 0 && fc.firma.id==null" data-dismiss="modal" ng-click="fc.unesiFirmu()">Dodaj deo firme</a> 
        <a class="btn btn-primary text-white" ng-if="fc.firme.length > 0 && fc.firma.id" data-dismiss="modal" ng-click="fc.izmeniFirmu(fc.firma.id)">Izmeni firmu</a> 

        <a href="#" data-dismiss="modal" class="btn" ng-click="fc.init()">Zatvori</a>
      </div>

    </div>


  </div>
</div>


<div class="row">

  <table class="table table-striped mt-20 mb-20 text-center">



    <thead>
      <th>ID</th>
      <th>Naziv</th>
      <th>Akcije</th>

    </thead>
    <tbody>
      <tr ng-repeat="d in fc.firme" data-toggle="tooltip" data-html="true">
        <td>{{d.id}}</td>
        <td>{{d.naziv}}</td>

        <td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="fc.ucitajFirmuId(d.id)"><i class="fas fa-edit"></i></button>

        </tr>
      </tbody>
      <tfoot>

      </tfoot>
    </table>

  </div>


  <div class="row fixed-bottom bg-dark down-navbar p-3">
    <button ng-if="fc.firme.length < 1" class="btn yellowst ml-3" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i> Dodaj firmu</button>
    
  </div>


</div>

