th {
	border-top:none;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.btn-file {
  position: relative;
  overflow: hidden;
  background:green;
  color:white;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=1);
  opacity: 1;
  outline: none;
  cursor: inherit;
  display: block;

}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.custom-alert {
  position:absolute;
  bottom:100px;
  right:30px;
  width:auto;
  padding-right: : 30px;
  height:50px;
}
code {
  font-size: 80%;
}

li a:hover {
  text-decoration: none;
}

.login {
  margin-top: 150px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.photos .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  opacity: 0.7;
}

.photos .btn:hover {
  background-color: black;
  opacity: 1;
}

.masonry {
  transition: all .5s ease-in-out;
  column-gap: 30px;
  column-fill: initial;
  margin: 10px;
  padding-bottom: 60px;
  margin-top: 110px;
}
.masonry .brick {
  margin-bottom: 15px;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden; /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
  opacity: .75;
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 6;

  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 6;
  }
}
.redst {
  background: #dc3545;
  color: white;
}

.yellowst {
  background: #ffc107;
  color: black;
}
.mt-20{
  margin-top: 85px;
}
.mb-20{
  margin-bottom: 80px;
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
.typeahead-demo a {
  margin: 10px;
  padding: 5px;
  color:black;
  display: block;
  border-bottom: 1px solid white;
}
.typeahead-demo a:hover {
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.myModal {
    border-radius:10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

